<div id="wrapper">
    <div id="sidebar">
        <div id="widget" class="sticky">
            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script>
                
            </script>
        </div>
    </div>
    <div id="article">
        <div class="row">
            <div class="col-md-12">
                <%= search_form_for @search, url: search_path do |f|%>
                    <div class="row">
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>