<div class="panel panel-default">
    <div class="panel-body">
        <!-- Image -->
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
        
        <!-- Main Information -->
        <div class="row">
            <div class="col-md-8">
                
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
        
        <!-- About --->
        <div class="row">
            <div class="col-md-12">
				<h2>About This Listing</h2>
				<p><%= @room.summary %></p>
			</div>
        </div>
    </div>
    
</div>